<div id='topic-active'>
  <% if topic -%>
    <p>
      <b><%= topic.title%><b/>
        <ul>
          <% topic.posts.each do |post| %>
            <li><%= post.content %></li>
          <% end %>
        </ul>
    </p>
  <% end -%>
</div>